@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;800&display=swap');

*{
    margin: 0;
    box-sizing: border-box;
}

:root{
    /* Primary */
    --light-cyan: hsl(193, 38%, 86%);
    --neon-green: hsl(150, 100%, 66%);

    /* Neutral */
    --grayish-blue: hsl(217, 19%, 38%);
    --dark-grayish-blue: hsl(217, 19%, 24%);
    --dark-blue: hsl(218, 23%, 16%);
}


body {
    font-family: "Manrope";
    background-color: var(--dark-blue);
    height: 100vh;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

.card {
    background-color: var(--dark-grayish-blue);
    width: 606px;
    padding: 3rem;
    padding-bottom: 4.3rem;
    border-radius: 15px;
    position: relative;
}

.advice-title {
    color: var(--neon-green);
    text-align: center;
    letter-spacing: 5px;
    font-size: 0.85rem;
}

.advice-text {
    color: var(--light-cyan);
    font-size: 1.75rem;
    font-weight: 800;
    text-align: center;
    margin: 2rem;
}

.divider{
    text-align: center;
}

.mobile-divider{
    display: none;
    text-align: center;
}

.dice-button {
    background-color: var(--neon-green);
    width: 64px;
    height: 64px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    position: absolute;
    bottom: -32px;
    left: 271px;
}

.dice-button:hover{
    box-shadow: 0px 0px 34px 1px var(--neon-green);
    cursor: pointer;
}

footer{
    position: absolute;
    bottom: 0;
    color: var(--neon-green);
}

.attribution { 
    font-size: 11px; 
    text-align: center; 
}

.attribution a { 
    color: var(--light-cyan); 
}

@media (max-width: 607px){
    .divider{
        display: none;
    }

    .mobile-divider{
        display: block;
    }

    .card {
        background-color: var(--dark-grayish-blue);
        width: 90%;
        padding: 3rem 0 4.3rem;
        border-radius: 15px;
        position: relative;
    }

    .advice-text {
        color: var(--light-cyan);
        font-size: 1.5rem;
        font-weight: 800;
        text-align: center;
        margin: 2rem;
    }

    .dice-button {
        background-color: var(--neon-green);
        width: 64px;
        height: 64px;
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        position: absolute;
        bottom: -32px;
        left: 42%;
    }
}